.sprite-xyicons-abomasnow {
  width: 21px;
  height: 23px;
  background-image: url(../img/xyicons.png.m.1431492502);
  background-repeat: no-repeat;
  background-position: -496px -25px;
  display: inline-block;
  vertical-align: middle;
}