<div class='row text-center'>
	<div class='col-md-offset-4 col-md-4'>
		<h1>Search for a Pokemon</h1>

		<input type='text' class='form-control' ng-model='searchTerm' placeholder='Gotta find em all'>
	</div>
</div>

<div class='row'>

	<div ng-repeat='pokemon in pokedex | orderBy: "name"
| filter:searchTerm | startFrom:currentPage*pageSize | limitTo:pageSize' class='col-sm-3' style='height:100px;'>

		<pokemon name='pokemon.name' pokemon-id="getIdFromURI(pokemon.resource_uri)"></pokemon>
	</div>

</div>

<!-- page buttons -->
<button class='btn btn-primary' ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
</button>

{{currentPage+1}}/{{numberOfPages()}}

<button class='btn btn-primary' ng-disabled="currentPage >= pokedex.length/pageSize - 1" ng-click="currentPage=currentPage+1">
    Next
</button>
