<div class='row'>
	<div ui-sref='home' class='btn btn-default'>< Back</div>
</div>
<div class='row'>
	<div class='col-md-offset-3 col-md-6'>
		<h1>{{pokemon.pokemon.name}}</h1>

		<p>HP: <span progress-bar number="pokemon.pokemon.hp"></span></p>
		<p>Attack: <span progress-bar number="pokemon.pokemon.attack"></span></p>
		<p>Defense: <span progress-bar number="pokemon.pokemon.defense"></span></p>

		<p>Special attack: <span progress-bar number="pokemon.pokemon.sp_atk"></span></p>
		<p>Special attack: <span progress-bar number="pokemon.pokemon.sp_def"></span></p>

		
	</div>
</div>
<pre>{{pokemon.pokemon | json}}</pre>